/*
 
put css code here
 
link this stylesheet to any other html page using this line of code:
<link rel="stylesheet" type="text/css" href="stylesheet.css">
 
*/
 
/* This is just a test to see what this turns them into */


/*-------------------------------Modifies form of provider_addNewPatient.html----------------------------*/
.textarea{
  width:90%;
  height: 40px;
  display: block;
}

.inputText{
  width:80px;
}

.inputNumber{
  width:40px;
}

.textLabel{
  width:5%;
}

.newPatientForm{
  text-align: left;
  margin-left: 5%;
}

/*-------------------------------End of provider_addNewPatient.html modifiers----------------------------*/

#apptText {
  color: rebeccapurple;
}
 
.errorMessage{
  color: red;
}

#emergency{
  color: red;
}

#patientCalendarHeader{
  margin-left: 5.5%;
}

.wrapper {
  max-width: 960px;
    margin: 0 auto;
  }
 
  body {
    background: #2980b9;
    color: #FFF;
    font-family: Helvetica;
    text-align: center;
    margin: 0;
  }
 
  #filler {
 
  background: #2980b9;
  color: #FFF;
  font-family: Helvetica;
  text-align: left;
  margin: 0;
  
}
 
  #appointment {
    background-color: #ddd;
    color: rgb(0, 0, 0);
    position: absolute;
    width:20%;
    margin-left: 5.5%;
  }
 
 
    /* Index Should have special formatting because its a page unlike the rest */
  .indexhome {
    background-color: #2980b9;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 40px;
    bottom: 40px;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica;
  }
  
  
  /* These are for creating the sections of the website */
 
  .topnav {
    overflow: hidden;
    background-color: rgba(1, 22, 212,);
  }
  .topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .topnav .buttons {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    font-family: inherit; 
    margin: 0; 
 }
 
  .topnav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
 
  .content {
    background-color: #ddd;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 40px;
    bottom: 40px;
    width:100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer {
    background-color: rgba(1, 22, 212,);
    height: 40px;
    position: absolute;
    bottom: 0;
    width:100%;
  }  
 
                        /* For Creating Seperate Columns and Such for information */
 
  .row {        
    display: -webkit-flex;
    display: flex;
  }
 
  .column {
    flex: 1;
    padding: 10px;
  }
 
  .column_middle {
    flex: 2;
    padding: 10px;
  }
 
  .image1 {
    background:url(https://static.wikia.nocookie.net/rezero/images/a/a0/Emilia_ep.41_%283%29.png/revision/latest?cb=20210120201244) center fixed ; }
 
  .image1-inner  {
    padding-top: 30% ; 
    padding-bottom: 30% ;
  }
 
  .container { overflow: hidden; }
  img {
    flex: 1;
    height: 720px;
  }
  .slide:last-child img {
    position: relative;
    top: -240px;
  }
  .slide {
    display: flex;
    width: 200%;
    height: 720px;
    overflow-y: hidden;
    animation: 20s infinite left ease-in;
  }
  .right { animation-name: right; }
  @keyframes left {
    from { margin-left: 0; }
    to   { margin-left: -100%; }
  }
  @keyframes right {
    from { margin-left: -100%; }
    to   { margin-left: 0; }
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("img_parallax.jpg");
    min-height: 1000px;
  }
  
  .bgimg-2 {
    background-image: url("img_parallax2.jpg");
    min-height: 400px;
  }
  
  .bgimg-3 {
    background-image: url("img_parallax3.jpg");
    min-height: 400px;
  }
 
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
    }
  }
 
  /* Calendar css */
 
  #calendars {
 
    width: 90%;
    height: 75%;
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
    border-collapse: collapse;
    table-layout: fixed;
    position: fixed;
    /* transition: transform 0.5s ease-in-out; */
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.30);
 
    }
 
    /* code for arrows */
    .arrow {
 
    border: solid rgb(51, 138, 153);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
 
    }
 
    /* code for left header arrow */
    .left {
 
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
 
    }
 
    /* Centers both header arrows */
    #arrowRightHeader, #arrowLeftHeader {
 
    text-align: center;
 
    }
 
    /* code for right header arrow */
    .right {
 
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
 
    }
 
    th.calendarHeader {
 
    /* border-bottom: 1px solid black;
    border-top: 1px solid black; */
    background-color: #2980b9;
    font-size: 300%;
    text-align: center;
 
    }
 
 
    /* applies border and text alignment to table datas */
    td.calendarData {
 
    border: 1px solid black;
    font-size: x-large;
    text-align: left;
    vertical-align: top;
    color:  #2980b9;;
 
    }
 
    /* applies font-size and elimination of white space */
    th.calendarHeader, td.calendarData {
 
    padding: 12px 15px;
 
    }
 
    tr.calendarRow:nth-of-type(even) {
 
    background-color: #f3f3f3;
 
    }
 
    /* tr:last-of-type {
 
    border-bottom: 20px solid #2980b9; 
 
    } */