/*-------------------------------Divison Modifiers----------------------------*/

.island {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #99cfeb;
    border: 5px solid #458cd9;
    border-radius: 5px;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 50px;
    width: 90%;
}

.schedule {
    float: left;
    width: 20%;
}


/*-------------------------------Calendar Modifiers----------------------------*/

#calendars {
    position: absolute;
    z-index: 5;
    top: 25%;
    left: 0%;
    height: 40%;
    border: 1px solid black;
    border-radius: 10px;
    border-collapse: collapse;
    table-layout: fixed;
    font-family: comfortaaStd;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.30);
}


/* code for arrows */

.arrow {
    border: solid #458cd9;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}


/* code for left header arrow */

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}


/* Centers both header arrows */

#arrowRightHeader,
#arrowLeftHeader {
    text-align: center;
}


/* code for right header arrow */

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

th.calendarHeader {
    /* border-bottom: 1px solid black;
    border-top: 1px solid black; */
    background-color: #458cd9;
    font-size: 300%;
    text-align: center;
    color: white;
}


/* applies border and text alignment to table datas */

td.calendarData {
    border: 1px solid black;
    font-size: x-large;
    text-align: left;
    vertical-align: top;
    color: #458cd9;
}


/* applies font-size and elimination of white space */

th.calendarHeader {
    padding: 12px 15px;
}

td.calendarData {
    padding: 0px;
    padding-left: 12px;
    width: 130px;
}

p {
    margin: 10px;
}

tr.calendarRow:nth-of-type(even) {
    background-color: #dbdbdb;
}

tr.calendarRow {
    background-color: white;
}

.smallFont {
    font-size: 12px;
    color: brown;
}

#closeDiv {
    position: sticky;
    float: left;
    top: 0;
    z-index: 11;
}

.apptList {
    position: relative;
    z-index: 10;
}

#magiDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    height: 60%;
    width: 30%;
    overflow-y: auto;
    pointer-events: none;
}

#magTable {
    background-color: white;
    position: relative;
    z-index: 10;
    width: 100%;
    font-size: 16px;
    border-radius: 10px 0px 0px 10px;
    border-collapse: collapse;
    table-layout: fixed;
    font-family: comfortaaStd;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.30);
}

#magHead {
    text-align: center;
    font-size: xx-large;
}

td {
    border-top: 1px solid black;
}

.apptCellRed {
    color: red;
    font-size: x-large;
    padding: 0px;
    margin: 0px;
}

.apptCellGreen {
    color: green;
    font-size: x-large;
    padding: 0px;
    margin: 0px;
}

#closeCell {
    text-align: center;
    font-size: 30px;
    column-span: 2;
}