/*-------------------------------Divison Modifiers----------------------------*/

body {
    background-color: white;
}


/*-------------------------------JavaScript Calendar Modifiers----------------------------*/

#calendars {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px;
    border-collapse: collapse;
    table-layout: fixed;
    font-family: comfortaaStd;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.30);
}


/* code for arrows */

.arrow {
    border: solid #458cd9;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}


/* code for left header arrow */

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}


/* Centers both header arrows */

#arrowRightHeader,
#arrowLeftHeader {
    text-align: center;
}


/* code for right header arrow */

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

th.calendarHeader {
    /* border-bottom: 1px solid black;
    border-top: 1px solid black; */
    background-color: #458cd9;
    font-size: 300%;
    text-align: center;
    color: white;
}


/* applies border and text alignment to table datas */

td.calendarData {
    border: 1px solid black;
    font-size: x-large;
    text-align: left;
    vertical-align: top;
    color: #458cd9;
}


/* applies font-size and elimination of white space */

th.calendarHeader {
    padding: 12px 15px;
}

td.calendarData {
    padding: 0px;
    padding-left: 12px;
    width: 125px;
}

tr.calendarRow:nth-of-type(even) {
    background-color: #dbdbdb;
}

tr.calendarRow {
    background-color: white;
}

.smallFont {
    font-size: 12px;
    color: brown;
}