/* --------------------------Page Apperance Modifiers------------------------------ */

.island {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #99cfeb;
    border: 5px solid #458cd9;
    border-radius: 5px;
    width: 1400px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.30);
    padding-bottom: 20px;
}


/* --------------------------Text Division Modifiers------------------------------ */

.textLog {
    margin-right: auto;
    margin-left: auto;
    border: 3px solid black;
    border-radius: 5px;
    background-color: white;
    width: 1350px;
}

.patientMessage {
    text-align: left;
    border: 2px solid black;
    border-radius: 5px;
    width: 800px;
    padding: 5px;
    margin: 5px;
}

.providerMessage {
    text-align: left;
    border: 2px solid black;
    border-radius: 5px;
    width: 800px;
    padding: 5px;
    margin: 5px;
}

.textInput {
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: lightgrey;
    border-top: 3px solid black;
    clear: both;
}


/* --------------------------Text Appearance Modifiers------------------------------ */

.patientTag {
    color: black;
    display: inline;
    font-weight: 1000;
}

.providerTag {
    color: black;
    display: inline;
    font-weight: 1000;
}

.patientText {
    color: black;
    display: inline;
}

.providerText {
    color: black;
    display: inline;
}


/* --------------------------Input Modifiers------------------------------ */

#textContents {
    font-family: comfortaaStd;
    width: 1100px;
}

#sendMessage {
    font-family: comfortaaStd;
    background-color: #ddd;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 25px;
}


/* --------------------------Animation Modifiers------------------------------ */

#sendMessage:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#sendMessage:active {
    background-color: #c9dfeb;
    box-shadow: 0 2px #666;
    transform: translate(2px, 2px);
}