/*-------------------------------Standard color scheme----------------------------*/


/* 

#32292F Black coffee

#99E1D9 Middle blue green

#F0F7F4 Mint cream

#70ABAF cadet blue

#705D56 umber 

*/


/*-------------------------------Sets up standard fonts across all pages----------------------------*/

@font-face {
    font-family: comfortaaHeader;
    src: url('../fonts/Comfortaa-Bold.ttf');
    font-size: 30px;
}

@font-face {
    font-family: comfortaaStd;
    src: url('../fonts/Comfortaa-Regular.ttf');
    font-size: 15px;
}

@font-face {
    font-family: comfortaaSmall;
    src: url('../fonts/Comfortaa-Light.ttf');
    font-size: 8px;
}

body {
    color: black;
    font-family: comfortaaStd;
    text-align: center;
    margin: 0;
}


/*-------------------------------Background----------------------------*/

.sliding-background {
    background: url("../images/indexBackground.jpg") repeat;
    height: 100%;
    width: 5076px;
    animation: slide 150s linear infinite;
    position: fixed;
}

.container {
    overflow: hidden;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-1692px, 0, 0);
    }
}

#testtest1 {
    background: url("../images/TestPicture.jpg");
    animation: slidetotheright 2s;
    animation-fill-mode: forwards;
    z-index: 12;
    position: relative;
    height: 2000px;
    width: 2000px;
}

@keyframes slidetotheright {
    0% {
        transform: translateX(-2000px);
    }
    100% {
        transform: translateX(0px);
    }
}